/*For Mozilla browsers*/
::-moz-selection { 
	color: #22405e; 
	background: none repeat scroll 100% 0% transparent; 
	text-shadow: 0px 0px 2px #005500, 0px 0px 10px #1D5F48; 
	}

/*For Chrome and Safari browsers*/
::selection { 
	color: #22405e; 
	background: none repeat scroll 100% 0% transparent; 
	text-shadow: 0px 0px 2px #005500, 0px 0px 10px #1D5F48; 
	}

/*For Chrome browsers - text-shadow is disabled for text input selections */
input[type=text]::selection { 
	color: #22405e; 
	background: none repeat scroll 0% 0% rgba(12, 69, 49, .5);
	}

/*For webkit browsers*/
::-ms-selection { 
	color: #22405e; 
	background: none repeat scroll 100% 0% transparent; 
	text-shadow: 0px 0px 2px #005500, 0px 0px 10px #1D5F48;
	}

::-o-selection { 
	color: #22405e; 
	background: none repeat scroll 100% 0% transparent; 
	text-shadow: 0px 0px 2px #005500, 0px 0px 10px #1D5F48;
	}
