::-moz-selection { 
    color: #213f5c;
    background: none repeat scroll 100% 0% transparent;
    text-shadow: 0px 0px 6px #1D5F48;
    } 

::selection {
    color: #213f5c;
    background: none repeat scroll 0% 0% transparent;
    text-shadow: 0px 0px 8px #559e54;
    }

input[type=text]::selection { 
    color: #559e54;
    background: none repeat scroll 0% 0% #213f5c;
    }

/*testing for edge cases

a::selection { background: none repeat scroll 0% 0% transparent;text-shadow: 0px 0px 2px #213f5c;} 

p::selection { color: #213f5c;
    background: none repeat scroll 0% 0% transparent;
    text-shadow: 0px 0px 8px #559e54;} 
*/
::-ms-selection { 
    color: #213f5c;
    background: none repeat scroll 0% 0% transparent;
    text-shadow: 0px 0px 8px #559e54;
    } 

::-o-selection { 
    color: #213f5c;
    background: none repeat scroll 0% 0% transparent;
    text-shadow: 0px 0px 8px #559e54;
    } 
