/*For Chrome and Safari browsers*/
::selection {
    color: #213f5c;
    background: none repeat scroll 100% 0% transparent;
    text-shadow: 0px 0px 6px #0a550a;
    }

/*For Mozilla browsers*/
::-moz-selection { 
    color: #213f5c;
    background: none repeat scroll 100% 0% transparent;
    text-shadow: 0px 0px 6px #0a550a;
    } 

/*For Chrome browsers - text-shadow is disabled for text input selections */
input[type=text]::selection { 
    color: #559e54;
    background: none repeat scroll 0% 0% #213f5c;
    }

/*For webkit browsers*/
::-ms-selection { 
    color: #213f5c;
    background: none repeat scroll 0% 0% transparent;
    text-shadow: 0px 0px 8px #559e54;
    } 

::-o-selection { 
    color: #213f5c;
    background: none repeat scroll 0% 0% transparent;
    text-shadow: 0px 0px 8px #559e54;
    }
